<% layout('layouts/boilerplate') %>


<% if(user.isATutor) {%>

  <div class="container mt-4 p-5">
  <h2>Class Status</h2>
<table class="table text-center">
  <thead>
    <tr>
      <th scope="col">Time</th>
      <th scope="col">Date</th>
      <th scope="col">Status</th>
      <th scope="col">Tutee</th>
      <th scope="col">Manage</th>
    </tr>
  </thead>
  <tbody>
    <% for(let lesson of lessons) { %>
    <tr>
      <th scope="row"><%= lesson.time %></th>
      <td><%= lesson.date.toLocaleDateString() %></td>
      <% if(lesson.tuteeName) {%>
      <td><span class="badge bg-primary">Booked</span></h1></td>
      <td><%= lesson.tuteeName %></td>
      <td><a href="/lessons/<%=lesson._id%>" class="btn text-bg-secondary p-1">Cancel</a></td>
      <% } else { %>
      <td></td>
      <td></td>
      <td><a href="/lessons/<%=lesson._id%>" class="btn bg-danger p-1">Delete</a></form></td>
      <% } %>
    </tr>
    <% } %>
  </tbody>
</table>
</div>


<div class="container border-top border-bottom px-5">
  <h5>Create your classes</h5>
  <div class="container"> <br>
  <form action="/lessons" method="POST">
    <input type="time" name="time" step="1800" class="mx-2" required />
    <input type="date" name="date" class="mx-2" />
    <input type="submit" value="Submit" class="btn bg-primary p-1" />
    <p class="fst-italic">30 miniute time interval available</p>
    
  </form>
</div>
</div>

<% } %>


<% if(!user.isATutor) { %>
<div class="container mt-5 p-4">
  <h2>Class Status</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Time</th>
        <th scope="col">Date</th>
        <th scope="col">Language</th>
        <th scope="col">Tutor</th>
        <th scope="col">Manage</th>
      </tr>
    </thead>
    <tbody>
      <% myLessons.forEach(myLesson => { %>
      <tr>
        <th scope="row"><%= myLesson.time %></th>
        <td><%= myLesson.date.toLocaleDateString() %></td>
        <td><span class="badge bg-success"><%= myLesson.language %></span></h1></td>
        <td><%= myLesson.tutorName %></td>
        <td><a href="/lessons/<%=myLesson._id%>" class="btn text-bg-secondary p-1">Cancel</a></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  </div>


<% } %>