<% layout('layouts/boilerplate') %> 



  <div class="container">
<% for(let i = 0; i < tutors.length; i++) { %> 
  <% if (i % 2 === 0) { %>
<div class="row mt-4">
  <% } %>
  <div class="container col my-2">
    <div class="card col-6 m-auto" style="width: 24rem">
      <img src="<%= tutors[i].tutor.photo %>" class="card-img-top mt-2" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><%= tutors[i].firstName %> <%= tutors[i].lastName %> <span class="text-muted h6"><%= tutors[i].tutor.language  %></span></h5>
        <p class="card-text"><%= tutors[i].tutor.about %></p>
        <a href="/tutors/<%= tutors[i]._id %>" class="btn btn-primary">Book</a>
      </div>
    </div>
  </div>

  <% if (i % 2 === 1 || i === tutors.length - 1) { %>
</div>
  <% } %> 
<% } %>
</div>